body {
  display: block;
  overflow-x: hidden;
}

nav {
  background: #fff;
}

nav img {
  max-height: 50px;
}

.navbar-brand {
  font-size: 24px;
  text-transform: uppercase;
}

nav ul li a {
  color: rgb(133, 26, 233);
  font-size: 24px;
  margin: auto 10px;
}

nav ul li a:hover {
  color: rgb(155, 66, 239);
}

#ul-nav {
  justify-content: end;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

section h1 {
  text-transform: capitalize;
  font-weight: 900;
  text-align: left;
  margin-bottom: 20px;
}

section p {
  font-size: 16px;
  font-weight: 400;
}

button {
  padding: 20px;
  max-width: 50%;
  border-radius: 50px;
}

#hero .col {
  justify-content: center;
  flex-direction: column;
  display: flex;
}

#hero .img-col {
  justify-content: flex-end;
  margin-top: 100px;
}

#hero img {
  max-width: 130%;
  width: 120%;
}

#hero .card {
  padding: 10px;
  box-shadow: 11px 7px 16px #f9f9f9;
  border: 1px solid silver;
  text-align: center;
  margin-top: 20px;
}

#hero i {
  height: 57px;
  font-size: 82px;
  color: #20c997;
  margin-bottom: 20px;
  text-align: center;
}

#contact-me {
  background: #6070ff;
  border-top-left-radius: 50px;
}
